<a href="https://colab.research.google.com/github/Shahala10/Python-Basic-Programs/blob/main/Basic_Progrms_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=9
b=10
print(a+b)

19

In [ ]:
a=int(input("enter a value for a:"))
b=int(input("enter a value for b:"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

enter a value for a:10
enter a value for b:20
30
-10
200
0.5

In [ ]:
a=int(input("Enter the value for A:"))
b=int(input("Enter the value for B:"))
if(a>b):
  print("A is greater than B")
elif(b>a):
  print("B is greater than A")
else:
  print("A is equal to B")

Enter the value for A:10
Enter the value for B:34
B is greater than A

In [ ]:
number=int(input())


print("Multiplication Table for",number,":")
for i in range(1,11):
  result = number * i
  print(f"{number} x {i}={result}")

12
Multiplication Table for 12 :
12 x 1=12
12 x 2=24
12 x 3=36
12 x 4=48
12 x 5=60
12 x 6=72
12 x 7=84
12 x 8=96
12 x 9=108
12 x 10=120

In [16]:
number=int(input())

i=1
print("Multiplication table for",number,":")
while i<11:
  result = number * i
  print(f"{number} x {i} = {result}")
  i=i+1

15
Multiplication table for 15 :
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [21]:
def addition(a,b):
   print(f"Sum of {a},{b} = ",a+b)

a=int(input("enter the value for a:"))
b=int(input("enter the value for b:"))

addition(a,b)

enter the value for a:45
enter the value for b:876
Sum of 45,876 =  921

In [19]:
def multiplication(c,d):
    print(f"Product of {c} , {d} = ", c*d)


c=int(input("enter the value for c:"))
d=int(input("enter the value for d:"))

multiplication(c,d)

enter the value for c:13
enter the value for d:89
Product of 13 , 89 =  1157

In [28]:
def factorial (n):
    if n==0:
      return 1;

    result=1
    for i in range(1,n+1):
       result *=i
    return result


a=int(input("enter the value "))
factorial(a)

enter the value 5

120

In [31]:
def SUBTRACTION (num1,num2):
    print(f"Sub of {num1},{num2}= ",num1-num2)

a=int(input("enter the value for a:"))
b=int(input("enter the value for b:"))

SUBTRACTION(a,b)

enter the value for a:78
enter the value for b:67
Sub of 78,67=  11